<!doctype html>
<html lang="en">
   <head>
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
       <title>Lexical</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

       <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

       <script src="{{ url_for('static', filename='js/index.js') }}">
       </script>
       <style media="screen and (max-width:760px)">
	 .desktop-only {
	     display: none;
	 }

	 .results-table {
	     font-size: 21px;
	     width: 190px;
	 }
       </style>
       <style media="screen and (min-width:761px)">
	 .mobile-only {
	     display: none;
	 }

	 .results-table {
	     font-size: 24px;
	     width: 210px;
	 }
       </style>
       <style media="screen and (max-width:419px)">
	 .query {
	     width: 95%;
	 }
       </style>
       <style media="screen and (min-width:420px)">
	 .query {
	     width: 400px;
	 }
       </style>
   </head>
   <body class="">
     <nav class="navbar navbar-expand-lg navbar-dark py-0" style="background-color:#004455;">
       <a class="navbar-brand" href="."><img src="{{ url_for('static', filename='icon32.png') }}"></a>
       <div class="collapse navbar-collapse" id="navbarNav">
	 <ul class="navbar-nav">
	   <li class="nav-item active">
	     <a class="nav-link" href=".">Lexical</a>
	   </li>
	   <li class="nav-item">
	     <a class="nav-link" href="./about">About</a>
	   </li>
	   <li class="nav-item">
	     <a class="nav-link" href="https://chrome.google.com/webstore/detail/lexical/mmjoiomojeckfkilkeciniabigcdeleb">Chrome Extension</a>
	   </li>
	 </ul>
       </div>
     </nav>
     <div  align='center'>
     <h1>Describe what you are you thinking of:</h1>
       <br />
          <input type='text' name='word1' value="{{query}}" class='query' id='query' autocomplete="off">
       <br />
       <h1>Do you mean ___?</h1>
       <div class="container" id="content">
	 <div class="row" style="width: fit-content; font-size:30px">
	   <div class="col">
	     <table class="table table-striped table-hover ml-0 results-table" id="resultsTable">
	       <thead>
		 <tr>
		   <th scope="col">Rank</th>
		   <th scope="col">Suggestion</th>
		   <th scope="col">Score</th>
		 </tr>
	       </thead>
	       <tbody id="resultsBody0">
	       </tbody>
	     </table>
	   </div>
	   <div class="col desktop-only">
	     <table class="table table-striped table-hover ml-0 results-table" id="resultsTable">
	       <thead>
		 <tr>
		   <th scope="col">Rank</th>
		   <th scope="col">Suggestion</th>
		   <th scope="col">Score</th>
		 </tr>
	       </thead>
	       <tbody id="resultsBody1">
	       </tbody>
	     </table>
	   </div>
	 </div>
       </div>
     </div>
     <script type="text/javascript" charset="utf-8">
       document.getElementById("query").addEventListener('keyup', function(event) {
       var keyCode = event.keyCode;

       sendMessage();

       });
     </script>
   </body>
</html>
